body {
  padding: 0px;
  margin: 0px;
}

#container0 {
  padding: 50px;
  margin-right: 50px;
  display: grid;
  gap: 50px;
  grid-template-columns: 50% 50%;
}

#container0 div{
  height: 250px
}




